# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
# JWT Configuration
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
JWT_EXPIRES_IN="7d"
# Server Configuration
PORT=3001
# CORS Configuration
CORS_ORIGIN=""
#Email Configuration For Gmail and Outlook
GMAIL_CLIENT_ID=""
GMAIL_CLIENT_SECRET=""
OUTLOOK_CLIENT_ID=""
OUTLOOK_CLIENT_SECRET=""
